//
//  FishLampCore-TestApp-iOS-ARC.xcconfig
//  FishLampCore
//
//  Created by Mike Fullerton on 9/9/13.
//  Copyright (c) 2013 Mike Fullerton. All rights reserved.
//

#include "XcodeBuildSupportConfigs/TargetSettings/iOS-ARC.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = FishLampCore-TestApp-iOS/FishLampCore-TestApp-iOS-Prefix.pch

INFOPLIST_FILE = FishLampCore-TestApp-iOS/FishLampCore-TestApp-iOS-Info.plist

